@media screen and (min-width: 321px) and (max-width: 767px){
	.tin1, .tin2{
		width: 100%;
	}
	.bieu_do{
		width: 100%;
	}
	.bieu_do_nho{
		width: 100%;
	}
	.bieu_do2{
		width: 100%;
	}
	.bieu_do_nho2{
		width: 100%;
	}
	.tin3{
		width: 100%;
	}
	.tin3_1{
		width: 100%;
	}
	.tin4{
		width: 100%;
	}
	.tin4_1{
		width: 100%;
	}
	#anh4>img{
		width: 100%;
	}
}